Prueba_power_Automate/Prueba_power_Automate/Microsoft.Flow/flows/2f87f827-cd29-40d3-89f6-f8c320bbee83/definition.json
{"name":"e871a2f9-03cb-47dd-b3ce-a3a312944025","id":"/providers/Microsoft.Flow/flows/e871a2f9-03cb-47dd-b3ce-a3a312944025","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Prueba_power_automate","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"0f44988c-2ba1-4250-9219-86c9f94d21cb","type":"User","tenantId":"3ec1a5a9-4c91-4950-a782-5af6f10867c4"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2026-02-12T08:57:58.117223Z","connectionKeySavedTimeKey":"2026-02-12T08:57:58.117223Z","creationSource":"Portal","modifiedSources":"Portal"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$authentication":{"defaultValue":{},"type":"SecureObject"},"$connections":{"defaultValue":{},"type":"Object"}},"triggers":{"Cuando_llega_un_nuevo_correo_electrónico_(V3)":{"splitOn":"@triggerOutputs()?['body/value']","type":"OpenApiConnectionNotification","inputs":{"parameters":{"to":"freddy.salgar.out@servientrega.com","includeAttachments":true,"subjectFilter":"Prueba_Power_Automate"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"OnNewEmailV3"},"authentication":"@parameters('$authentication')"}}},"actions":{"For_each":{"foreach":"@triggerOutputs()?['body/attachments']","actions":{"Obtener_datos_adjuntos_(V2)":{"type":"OpenApiConnection","inputs":{"parameters":{"messageId":"@triggerOutputs()?['body/id']","attachmentId":"@item()?['id']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"GetAttachment_V2"},"authentication":"@parameters('$authentication')"}},"Crear_archivo":{"runAfter":{"Obtener_datos_adjuntos_(V2)":["Succeeded"]},"type":"OpenApiConnection","inputs":{"parameters":{"folderPath":"/Prueba_power_automate","name":"RegistroCorreos_nuevo.xlsx","body":"@item()?['contentBytes']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness","connectionName":"shared_onedriveforbusiness-1","operationId":"CreateFile"},"authentication":"@parameters('$authentication')"},"runtimeConfiguration":{"contentTransfer":{"transferMode":"Chunked"}}},"Agregar_una_fila_a_una_tabla":{"runAfter":{"Crear_archivo":["Succeeded"]},"metadata":{"0135O3EZNMVT4KKSABPBGZF7IK3DD6ANCI":"/Prueba_power_automate/RegistroCorreos.xlsx","tableId":"{9483C2F7-6D53-4854-8A25-BCACB6A7809B}","0135O3EZNPGZNIYN6B4RF24WQAP4BG737Y":"/Prueba_power_automate/RegistroCorreos.xlsx"},"type":"OpenApiConnection","inputs":{"parameters":{"source":"me","drive":"b!j8f5pmXQh0StbROfOJeXH2nKx7DsEe9AjJGRGRXzt1OzNntSEED1QoBU5mBCYW90","file":"0135O3EZNPGZNIYN6B4RF24WQAP4BG737Y","table":"{9483C2F7-6D53-4854-8A25-BCACB6A7809B}","item/Remitente":"@triggerOutputs()?['body/from']","item/Fecha":"@triggerOutputs()?['body/receivedDateTime']","item/Asunto":"@triggerOutputs()?['body/subject']","item/Nombre del archivo adjunto_x003a_":"@item()?['name']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","connectionName":"shared_excelonlinebusiness","operationId":"AddRowV2"},"authentication":"@parameters('$authentication')"}}},"runAfter":{},"type":"Foreach"}},"outputs":{}},"connectionReferences":{"shared_office365":{"connectionName":"shared-office365-bff0dc80-fec5-4b31-9fba-227ea825386b","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_office365","tier":"NotSpecified","apiName":"office365","isProcessSimpleApiReferenceConversionAlreadyDone":false},"shared_onedriveforbusiness-1":{"connectionName":"shared-onedriveforbu-2201880b-1554-4c4e-bb1b-d7d0735f87c8","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness","tier":"NotSpecified","apiName":"onedriveforbusiness","isProcessSimpleApiReferenceConversionAlreadyDone":false},"shared_excelonlinebusiness":{"connectionName":"shared-excelonlinebu-a8d6a593-45b3-45a0-941d-287e393966a2","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","tier":"NotSpecified","apiName":"excelonlinebusiness","isProcessSimpleApiReferenceConversionAlreadyDone":false}},"flowFailureAlertSubscribed":false,"isManaged":false}}